#homepage {
  header {
    background-color: $orangeYellow;
    height: 80vh;
    
    .wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;
      height: 75%;
      align-items: center;

      .title {
        height: 300px;
        width: 40%;
        position: relative;

        img {
          position: absolute;
          max-height: 200px;
          max-width: 200px;
        }
        h1 {
          margin-left: 60px;
          font-size: 13rem;
        }
      }
      .headerImage {
        position: absolute;
        // height: 80%;
        width: 40%;
        right: 0;
        top: 50px;
        box-shadow: 15px 15px white;
      }
    }
  }
  main {
    h2 {
      text-transform: uppercase;
      font-size: 4.2rem;
    }
    h3 {
      font-size: 3.2rem;
    }
    .intro {
      .who {
        background-color: $whiteShade;
        padding: 80px 0 120px 0;
        p {
          width: 80%;
        }
      }

      .favourites {
        padding-bottom: 50px;
        // margin-bottom: 300px;
        height: 500px;

      
        .wrapper {
          display: flex;
          justify-content: space-between;
        
          .imageContainer {
            position: relative;
            width: 50%;
            height: calc(vw / 2);

            img {
              position: absolute;
              top: -20px;
              box-shadow: -200px 15px $rustRed, 15px 15px $rustRed;
            }
            
          }
          .textContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 40%;
            height: calc(vw / 2);
          }
        }
      }
    }

    // four snippets styling
    .connect {
      margin-top: 100px; // TEMP CODE DELETE
      background-color: $whiteShade;

      h3 {
        font-size: 3.2rem;
        letter-spacing: 0.1rem;
      }
      .wrapper {
        display: flex;
        flex-wrap: wrap;
        
        
        .connectQuarter {
          width: 50%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          .iconContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 2.4rem;
            width: 50px;
            height: 50px;
            background-color: $orangeYellow;
            border-radius: 100%;
            margin-right: 20px;
            // margin-bottom: 100px;
          }
          p {
            width: calc(100% - 70px);
            margin-left: 70px;
          }
        }
      }
    }
    // Sophie's Journey section styling 
    .journey {  
      background-color: $whiteShade;
      p {
        margin: 25px 0;
      }
      .banner {
        min-width: 100vw;
      }
      .journeyContainer {
        padding: 100px 0;
        display: flex;
        justify-content: space-between;

        .imgContainer {
          width: 25%;
          box-shadow: 20px 20px $orangeYellow;
        }
        .textContainer {
          width: 60%;
          display: flex;
          flex-wrap: wrap;

          a {
            align-self: flex-end;
          }
        }
      }
    }
    // three picture gallery styling
    .gallery {
      padding: 100px 0;

      .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
      }
    }
  }
  
}
