nav {
  text-transform: uppercase;
  background-color: $orangeYellow;

  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

    li {
      padding: 5px;
      margin: 10px;

      h2 {
        font-size: 3.2rem;
      }
      a:hover,
      a:active {
        color: white;
      }
    }
  }
}