html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2c2c2c;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 8rem;
  line-height: 9.2rem;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: 'Lora', 'serif';
}

p {
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 3.2rem;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1480px;
  width: 85%;
  margin: 0 auto;
}

nav {
  text-transform: uppercase;
  width: 100%;
  background-color: #f6a823;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  padding: 5px;
  margin: 10px;
}

nav ul li h2 {
  font-size: 3.2rem;
}

nav ul li a:hover,
nav ul li a:active {
  color: white;
}

#homepage header {
  background-color: #f6a823;
  height: 80vh;
}

#homepage header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homepage header .wrapper .title {
  height: 300px;
  width: 40%;
  position: relative;
}

#homepage header .wrapper .title img {
  position: absolute;
  max-height: 200px;
  max-width: 200px;
}

#homepage header .wrapper .title h1 {
  margin-left: 60px;
  font-size: 13rem;
}

#homepage header .wrapper .headerImage {
  position: absolute;
  width: 40%;
  right: 0;
  top: 50px;
  -webkit-box-shadow: 15px 15px white;
          box-shadow: 15px 15px white;
}

#homepage main h2 {
  text-transform: uppercase;
  font-size: 4.2rem;
}

#homepage main h3 {
  font-size: 3.2rem;
}

#homepage main .intro .who {
  background-color: #f0efed;
  padding: 80px 0 120px 0;
}

#homepage main .intro .who p {
  width: 80%;
}

#homepage main .intro .favourites {
  padding-bottom: 50px;
  height: 500px;
}

#homepage main .intro .favourites .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#homepage main .intro .favourites .wrapper .imageContainer {
  position: relative;
  width: 50%;
  height: calc(vw / 2);
}

#homepage main .intro .favourites .wrapper .imageContainer img {
  position: absolute;
  top: -20px;
  -webkit-box-shadow: -200px 15px #a82706, 15px 15px #a82706;
          box-shadow: -200px 15px #a82706, 15px 15px #a82706;
}

#homepage main .intro .favourites .wrapper .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
  height: calc(vw / 2);
}

#homepage main .connect {
  margin-top: 100px;
  background-color: #f0efed;
}

#homepage main .connect h3 {
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
}

#homepage main .connect .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#homepage main .connect .wrapper .connectQuarter {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homepage main .connect .wrapper .connectQuarter .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2.4rem;
  width: 50px;
  height: 50px;
  background-color: #f6a823;
  border-radius: 100%;
  margin-right: 20px;
}

#homepage main .connect .wrapper .connectQuarter p {
  width: calc(100% - 70px);
  margin-left: 70px;
}

#homepage main .journey {
  background-color: #f0efed;
}

#homepage main .journey p {
  margin: 25px 0;
}

#homepage main .journey .banner {
  min-width: 100vw;
}

#homepage main .journey .journeyContainer {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#homepage main .journey .journeyContainer .imgContainer {
  width: 25%;
  -webkit-box-shadow: 20px 20px #f6a823;
          box-shadow: 20px 20px #f6a823;
}

#homepage main .journey .journeyContainer .textContainer {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#homepage main .journey .journeyContainer .textContainer a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#homepage main .gallery {
  padding: 100px 0;
}

#homepage main .gallery .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

#contact header {
  position: relative;
  padding-bottom: 100px;
  background-color: #f0efed;
}

#contact header .wrapper .title {
  position: absolute;
  bottom: 5px;
}

#contact main {
  background-color: #f0efed;
  padding-bottom: auto;
}

#contact main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact main .wrapper .contactInfo {
  width: calc(35% - 30px);
  background-color: white;
  padding: 50px 40px;
  max-height: 340px;
}

#contact main .wrapper .contactInfo .socialLinks {
  color: #f6a823;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact main .wrapper .contactInfo .socialLinks li {
  margin: 0 30px 0 0;
}

#contact main .wrapper .contactInfo .socialLinks li a {
  font-size: 3.6rem;
}

#contact main .wrapper .contactInfo p:first-of-type {
  font-weight: 700;
  font-size: 2.4rem;
  margin: 20px 0;
}

#contact main .wrapper .form {
  width: 65%;
  padding-bottom: 80px;
}

#contact main .wrapper .form .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
}

#contact main .wrapper .form .contactForm input {
  border: none;
}

#contact main .wrapper .form .contactForm input::-webkit-input-placeholder {
  font-style: italic;
}

#contact main .wrapper .form .contactForm input:-ms-input-placeholder {
  font-style: italic;
}

#contact main .wrapper .form .contactForm input::-ms-input-placeholder {
  font-style: italic;
}

#contact main .wrapper .form .contactForm input::placeholder {
  font-style: italic;
}

#contact main .wrapper .form .contactForm #name, #contact main .wrapper .form .contactForm #email {
  width: calc(50% - 5px);
  padding: 20px;
}

#contact main .wrapper .form .contactForm #name {
  margin-right: 5px;
}

#contact main .wrapper .form .contactForm #email {
  margin-left: 5px;
}

#contact main .wrapper .form .contactForm #message {
  margin: 20px 0;
  width: 100%;
  padding: 35px 0 250px 20px;
}

#contact main .wrapper .form .contactForm #submit {
  background-color: #05afc1;
  width: 100%;
  padding: 10px 0;
  font-weight: 700;
}

#blog header {
  position: relative;
  padding-bottom: 100px;
  background-color: #f0efed;
}

#blog header .wrapper .title {
  position: absolute;
  bottom: 5px;
}

#blog main {
  background-color: #f0efed;
}

#blog main .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 35px;
}

#blog main .wrapper h2, #blog main .wrapper h3 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#blog main .wrapper h4 {
  font-style: italic;
  font-size: 2rem;
  font-weight: 400;
  margin: 15px 0;
}

#blog main .wrapper span, #blog main .wrapper .comment h4, #blog main .wrapper a {
  color: #385e64;
  font-weight: 700;
}

#blog main .wrapper .about, #blog main .wrapper .recentPosts, #blog main .wrapper .post, #blog main .wrapper .comment {
  background-color: white;
  padding: 35px;
}

#blog main .wrapper .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#blog main .wrapper .info h3 {
  font-size: 2.4rem;
}

#blog main .wrapper .info h3, #blog main .wrapper .info img, #blog main .wrapper .info .about {
  margin-bottom: 25px;
}

#blog main .wrapper .info .recentPosts li {
  font-size: 2rem;
  line-height: 2.9rem;
}

#blog main .wrapper .info .recentPosts ul li::before {
  content: "\2022";
  color: #f6a823;
  display: inline-block;
  width: 20px;
}

#blog main .wrapper .right .post, #blog main .wrapper .right .commentsContainer .comment:nth-child(2) {
  border-bottom: 5px solid #f6a823;
}

#blog main .wrapper .right .post h2 {
  font-size: 3.2rem;
}

#blog main .wrapper .right .post p {
  margin-bottom: 20px;
}

#blog main .wrapper .right .commentsContainer {
  margin: 30px 0;
}

#blog main .wrapper .right .commentsContainer .comment:nth-child(1) {
  margin-bottom: 20px;
}

#blog main .wrapper .right .commentsContainer .comment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  grid-gap: 15px;
}

#blog main .wrapper .right .commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
  margin-bottom: 50px;
}

#blog main .wrapper .right .commentForm input {
  border: none;
}

#blog main .wrapper .right .commentForm input::-webkit-input-placeholder {
  font-style: italic;
}

#blog main .wrapper .right .commentForm input:-ms-input-placeholder {
  font-style: italic;
}

#blog main .wrapper .right .commentForm input::-ms-input-placeholder {
  font-style: italic;
}

#blog main .wrapper .right .commentForm input::placeholder {
  font-style: italic;
}

#blog main .wrapper .right .commentForm #name, #blog main .wrapper .right .commentForm #email {
  width: calc(50% - 5px);
  padding: 20px;
  padding-left: 30px;
}

#blog main .wrapper .right .commentForm #name {
  margin-right: 5px;
}

#blog main .wrapper .right .commentForm #email {
  margin-left: 5px;
}

#blog main .wrapper .right .commentForm #comment {
  margin: 20px 0;
  width: 100%;
  padding: 35px 0 200px 30px;
}

#blog main .wrapper .right .commentForm #submit {
  background-color: #05afc1;
  width: 100%;
  padding: 10px 0;
  font-weight: 700;
}

footer {
  background-color: #2c2c2c;
  color: #f0efed;
  text-align: center;
  padding: 5px 0;
}
